.profile__info {
  margin: auto 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 294px 1fr;
  column-gap: 18px;
  row-gap: 16px;
}

@media screen and (max-width: 767px) {
  .profile__info {
    margin-top: 26px;
    grid-template-columns: 189px 1fr;
    column-gap: 10px;
    row-gap: 14px;
  }
}
