.card__delete {
  position: absolute;
  top: 20px;
  right:20px;
  cursor: pointer;
  background-image: url(../../../images/delete.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 18px;
  height: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: block;
}

.card__delete:hover{
    opacity: 0.6;
}
