.popup__close-button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  border: none;
  background-image: url("../../../images/Close Icon.svg");
  background-size: cover;
  width: 32px;
  height: 32px;
  background-color: transparent;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0px;
  }
}

.popup__close-button:hover {
  opacity: 0.6;
}
