.popup__button_save {
  margin: 0 auto 37px;
  padding: 0;
  width: 358px;
  height: 50px;
  background-color: #000;
  border-radius: 2px;
  font-family: inherit;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  box-sizing:border-box;
  border:none;
}

@media screen and (max-width: 767px){
  .popup__button_save  {
    margin-bottom:25px;
      width: 238px;
      height: 46px;
      font-size: 14px;
      line-height: 17px;
  }
}

.popup__button_save:hover{
    opacity: 0.8;
}
