.popup__button_close{
    border:none;
    background-image: url(../../../images/Close\ Icon.svg);
    background-size: cover;
    width: 32px;
    height: 32px;
    background-color: transparent;
    position:absolute;
    top:-40px;
    right:-40px;
}

@media screen and (max-width: 767px){
    .popup__button_close {
        width: 20px;
        height: 20px;
        top:-36px;
        right:0px;
    }
  }

  .popup__button_close:hover{
    opacity: 0.6;
  }