.popup__image-container{
    margin:0;
    padding:0;
    box-sizing: border-box;
    max-width:75vw;
    max-height:75vh;
    position:relative;
    align-items:center;
}

@media screen and (max-width: 767px) {
    .popup__image-container {
        max-height:75vh;
        max-width:75vw;
    }
  }