.popup__save-button_inactive{
    background-color: transparent;
    color: #000;
    border: 1px solid #000000;
    border-radius: 2px;
    opacity: 0.2;
    cursor:default;
}

.popup__save-button_inactive:hover{
    opacity: 0.2;
}
