.profile__info {
  margin: auto 0;
  padding: 0;
  max-width: 336px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 294px 1fr;
  column-gap: 18px;
  grid-template-rows: 39px 18px;
  row-gap: 16px;
}

@media screen and (max-width: 767px) {
  .profile__info {
    margin-top: 26px;
    align-items: center;
    justify-content: center;
  }
}
