.profile__info {
  margin: auto 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .profile__info {
    margin: 26px auto 0;
    align-items: center;
    justify-content: center;
  }
}
