.like{
    margin: auto 0;
    padding: 0;
    box-sizing:border-box;
    background-image: url(../../images/Like.png);
    background-repeat:no-repeat;
    background-size: cover;
    width:22px;
    height:19px;
    border: none;
    background-color:transparent;
}

.like:hover{
    background-image: url(../../images/like_hover.svg);
}

.like:active{
    background-image: url(../../images/like_active.svg);
}

.like:after{
    background-image: url(../../images/like_active.svg); 
}
