.popup__photo{
    margin:0;
    padding:0;
    box-sizing:border-box;
    object-fit:cover;
    display:block;
    max-width:75vw;
    max-height:75vh;
}

@media screen and (max-width: 767px) {
    .popup__photo {
        max-height:75vh;
        max-width:75vw;
    }
  }